.explore-container {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #4A90E2, #9013FE);
    color: white;
    height: 100vh;
}

.category-section {
    margin-top: 30px;
}

.category-section h2 {
    font-size: 2rem;
}

.category-section ul {
    list-style-type: none;
    padding: 0;
}

.category-section li {
    margin: 10px 0;
}

.category-section a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.category-section a:hover {
    text-decoration: underline;
}
